# Уберем эту строку, она устарела и вызывает предупреждение
# version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: rocky_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: rocky_redis
    restart: always
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  bot:
    build: .
    container_name: rocky_bot
    env_file:
      - .env
    # --- ИСПРАВЛЕНИЕ ЗДЕСЬ ---
    ports:
      - "${WEBAPP_PORT}:${WEBAPP_PORT}"
    # --------------------------
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: always

volumes:
  postgres_data:
  redis_data: