# Основной фреймворк для бота
aiogram==3.2.0

# Веб-сервер для вебхуков
aiohttp==3.9.1

# Конфигурация и переменные окружения
pydantic==2.5.2
pydantic-settings==2.1.0

# Асинхронный драйвер для PostgreSQL
asyncpg==0.29.0

# ORM для работы с базой данных
SQLAlchemy==2.0.23

# Alembic для миграций БД
alembic==1.13.1

# Асинхронная работа с файлами
aiofiles==23.2.1

# Асинхронный клиент для Redis
redis==5.0.1

# Библиотека для работы с TON
pytoniq

# API для получения курса валют
pycoingecko==3.1.0
cachetools

# --- ЗАВИСИМОСТИ ДЛЯ ТЕСТИРОВАНИЯ ---
# Основной фреймворк для тестов
pytest==7.4.3

# Плагин для асинхронных тестов в pytest
pytest-asyncio==0.21.1

# Библиотека для создания мок-объектов
pytest-mock==3.12.0

# Драйвер для SQLite, который мы будем использовать в тестах
aiosqlite==0.19.0