# requirements.txt

# Основной фреймворк для бота
aiogram==3.2.0

# Веб-сервер для вебхуков
aiohttp==3.9.1

# Конфигурация и переменные окружения
pydantic==2.5.2
pydantic-settings==2.1.0

# Асинхронный драйвер для PostgreSQL
asyncpg==0.29.0

# ORM для работы с базой данных
SQLAlchemy==2.0.23

# Библиотека для работы с TON (последняя стабильная версия)
pytoniq

# API для получения курса валют
pycoingecko==3.1.0
cachetools
alembic